.App {
  font-family: sans-serif;
  text-align: center;
  margin-top: 70px;
}
.item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.text {
  flex: 1 0 21%;
}

.box {
  height: 400px;
  width: 25%;
}
